<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/newshub</property>
        <property name="connection.user">root</property>
        <property name="hibernate.dialeсt">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.newshub.core.domain.Articles"/>
        <mapping class="com.newshub.core.domain.ArticlesTags"/>
        <mapping class="com.newshub.core.domain.ArticlesTagsPK"/>
        <mapping class="com.newshub.core.domain.Privileges"/>
        <mapping class="com.newshub.core.domain.Tags"/>
        <mapping class="com.newshub.core.domain.Users"/>
        <mapping class="com.newshub.core.domain.UsersArticles"/>
        <mapping class="com.newshub.core.domain.UsersArticlesPK"/>
    </session-factory>
</hibernate-configuration>