<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>NEWS HUB</title>
</head>
<body>
<h2>List Of Articles</h2>
<table>
    <thead>
    <tr>
        <th>Article Name</th>
        <th>Article Content</th>
        <th>Publication Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articlesList}">
        <td th:text="${article.title}"></td>
        <td th:text="${article.content}"></td>
        <td th:text="${{article.publicationDate}}"></td>
    </tr>
    </tbody>
</table>
<h3>List Of Tags</h3>
<table>
    <thead>
    <tr>
        <th>Tag Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tag : ${tagsList}">
        <td th:text="${tag.name}"></td>
    </tr>
    </tbody>
</table>
<!--<h2>Login with Username and Password</h2>
<form name='loginForm'
      action="<c:url value='/connect/user' />" method='POST'>

    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td colspan='2'><input name="submit" type="submit"
                                   value="submit" /></td>
        </tr>
    </table>

</form>-->
</body>
</html>